body {
    background-color: #ffffff9f;
    margin: 0;
    padding: 0;
  }
  
  .block {
    padding: 1em;
    background-color: rgb(36, 34, 86);
  }
  
  .block h1 {
    margin: 0;
    color: #fff;
  }
  
  .contact-info {
    display: flex;
    justify-content: space-between;
  }
  
  .mail,
  .call {
    margin: 0.5em 0;
    color: #fff;
  }
  
  nav {
    background-color: rgb(36, 34, 86);
    padding: 1em;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  nav ul li {
    padding: 0.5em 1em;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
  }
  
  nav a:hover {
    background-color: rgb(172, 210, 253);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  .container {
    text-align: center;
    padding: 2em;
  }
  
  .image {
    width: 100%;
    max-width: 700px;
    height: auto;
  }
  
  .text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  